brotlipy==0.5.0
gevent==1.1.2
Jinja2==2.8
setuptools==25.2.0
redis==2.10.5
six==1.10.0
surt==0.3.0
ujson==1.35
waitress==0.9.0
watchdog==0.8.3
webencodings==0.5
youtube_dl==2016.8.13
boto==2.42.0
certauth==1.1.3
ordereddict==1.1
pyamf==0.8.0
uwsgi==2.0.13.1
PyYAML==3.11
